*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Helvetica",sans-serif;
    background-color: #283739;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    background-color: #0d1117;
    justify-content: space-between;
    border: 5px;
    border-radius: 5px;
    align-items: center;

}


.value{
    background-attachment: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer ;
    border-radius: 4px;
    margin: 0 10px 10px;
}

.value.right{
    margin-right: 10px;
}
.value:last-child{
    margin-left: auto;
}
.rigth{
    dislplay:flex;
}
.value:hover{
    background-color: #21262d;
}

.value:focus,
.value:active{
    outline: none;
    box-shadow: none;
}

.value::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2f81f7;

    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s ease ;
}

.value:focus::before,
.value:active::before{
    opacity: 1;
} 

.value svg{
    width: 15px;

}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    margin-right: 15px;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: antiquewhite;
}